<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <h1>Edit Behavior</h1>
  <form action="/skills/<%= skill._id %>?_method=PUT" method="POST" autocomplete="off">
    <p>Behavior:</p>
    <input type="text" name="behavior" value="<%= skill.behavior %>">
    <p>Skill Level:</p>
    <input type="text" name="level" value="<%= skill.level %>">
    <p>Species:</p>
    <input type="text" name="species" value="<%= skill.species %>">
    <button type="submit">Update Behavior</button>
  </form>
</body>
</html>