<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animal Training Skills</title>
</head>
<body>
  <h1>Animal Training Behaviors</h1>
  <ul>
    <% skills.forEach(skill => { %>
      <li>
				<%= skill.species %> 
				- 
				<%= skill.level %>
        - 
        <a href="/skills/<%= skill._id %> "><%= skill.behavior %></a>
			</li>
    <% }) %>
  </ul>
  <a href="/skills/new">Add Training Behavior</a>
  </br>
  </br>
  <img src="assets/Grace.jpeg" alt="Gorilla baby Grace eating leaf">
</body>
</html>