<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <a href="/skills">Animal Training Skills List</a>
  </br>
  </br>
  <img src="https://static01.nyt.com/images/2009/09/04/arts/mongoose2.jpg" alt="Mom and baby mongoose">
</body>
</html>
